.image-text-container {
    display: flex;
    gap: 5.6rem;
    justify-content: center;
    align-items: center;
}

.image-container-wrapper {
    width: 45%;
}

.text-container-wrapper {
    width: 55%;
}
.image-container-wrapper img {
    border-radius: 12px;
}

.image-text-title {
    text-align: center;
    color: #030303;
    margin-top: 0;
    margin-bottom: 4.8rem;
}

.text-container-wrapper * {
    line-height: 26px;
}

.text-container-wrapper p:first-of-type {
    margin-top: 0;
}

.text-container-wrapper p {
    margin-bottom: 3.2rem;
}

.text-container-wrapper li:not(:last-child) {
    margin-bottom: 1rem;
}

.text-container-wrapper ul {
    margin-bottom: 3.2rem;
}