.exercise-inner .section-text-title {
  margin-bottom: 4rem;
  color: #030303;
}

.exercise-items {
  padding: 2.4rem;
  background-color: #fff;
}

.exercise-items {
  border-radius: 1.6rem;
}

.exercise-item {
  background-color: #f5f5f6;
  padding: 1.5rem;
  border-radius: 1.6rem;
}

.excercise-heading {
  margin: 0;
  color: #030303;
  min-height: 5.6rem;
  margin-bottom: 1rem;
}

.exercise-content .richtext-content ul {
  margin: 0;
  line-height: 2.6rem;
}
.exercise-content .richtext-content {
  margin-bottom: 0;
}

main .exercise-content .richtext-content ul li::before {
  background-image: url("https://cdn.shopify.com/s/files/1/0658/9733/2918/files/green-arrow-list.svg");
}

.exercise-content ul li:not(:last-child) {
  margin-bottom: 1.2rem;
}
@media screen and (min-width: 1440px) {
  .image-container-wrapper img {
    border-radius: 12px;
    width: 592px;
    height: 479px;
    max-width: 592px;
  }
  h4.uppercase.excercise-heading {
    color: var(--Main-Colors-Black, #030303);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: var(--Main-Colors-Black, #030303);
    font-family: Aldrich;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    text-transform: uppercase;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .exercise-item {
    width: 50%;
  }

  h2.section-text-title {
    font-size: 32px;
  }
  .image-container-wrapper img {
    height: 567px;
  }
  .right-foot-image img,
  .left-foot-image img {
    width: 370px !important;
    object-fit: contain;
    margin: auto;
  }
  .richtext-content.left-right-content,
  .richtext-content.left-foot-content {
    margin-bottom: 20px;
  }

  .slide-text h3 {
    margin-bottom: 20px;
  }
  .step-guide-container .owl-carousel .slide-content {
    gap: 0px;
  }

  .step-guide-container .owl-carousel .item .slide-text img {
    width: 50px;
    height: 50px;
  }

  .richtext-content h4 {
    margin-bottom: 20px;
  }

  .richtext-content.left-foot-content,
  .slide-text h3,
  .richtext-content.right-foot-content {
    margin-bottom: 10px;
  }

  .custom-audio-player {
    height: 50px;
    padding-left: 6px;
  }

  .right-foot-image img,
  .left-foot-image img {
    width: 50%;
    height: 190px;
    object-fit: contain;
  }

  .step-guide-container .owl-nav {
    transform: translate(50%);
  }
}
@media screen and (max-width: 767px) {
  h2.section-text-title {
    font-size: 28px;
  }

  .exercise-item {
    width: 100%;
    max-width: 100%;
  }

  .grid.exercise-items {
    flex-wrap: wrap;
  }
  .image-container-wrapper img {
    height: auto;
  }
  .step-guide-container .owl-nav {
    transform: translate(135%);
  }
  .excercise-heading {
    min-height: auto;
    margin-bottom: 15px;
  }

  .grid.exercise-items {
    padding: 10px;
  }
  .step-guide-container .owl-nav {
    transform: translate(65%);
  }

  .step-guide-container .slide-counter {
    left: 40%;
  }
}
