html {
    scroll-behavior: smooth;
  }

h1,h2,h3,h4,h5,h6{
    letter-spacing: normal;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

img {
    max-width: 100%;
    display: block;
}

.home-page-body {
    background: var(--custom-body-color);
}

.color-span span{
    color: var(--header-icons-color)
}

.color-span-green span{
    color: var(--color-green-anchor)
}

.header-stick-not-active{
    padding-top: 1.6rem;
    background-color: var(--custom-body-color);
}


.btn-row {
    display: flex;
    gap: 3.2rem;
    align-items: center;
}

.btn-arrow {
    width: 4.4rem;
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;    
    border-radius: 50%;
}

.custom-site-btn {
    display: flex;
    align-items: center;
    text-decoration: none;    
    text-transform: capitalize;
}

.btn-text {
    position: relative;
    left: -.7rem;
    background-color: var(--custom-body-color);
    text-decoration: none;
}

.btn-green{
    color: var(--color-green-anchor);
}

.btn-green .btn-arrow{
    border: .2rem solid var(--color-green-anchor);
}

.btn-green .btn-arrow svg path{
    fill: var(--color-green-anchor);
}

.btn-red{
    color: var(--color-red-anchor);
}

.btn-red .btn-arrow{
    border: .2rem solid var(--color-red-anchor);
}

.btn-red .btn-arrow svg path{
    fill: var(--color-red-anchor);
}

.btn-text-body .btn-text{
    background-color: var(--gradient-background);
}

.btn-white .btn-text{
    background-color: #fff;
}

.btn-black .btn-text{
    background-color: #1d1624;
}

main ul {
    list-style: none;
    padding-left: 3rem;
}

main ul li {
    position: relative;
}

main ul li::before {
    content: '';
    position: absolute;
    background-image: url("https://cdn.shopify.com/s/files/1/0658/9733/2918/files/list-disc.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 2rem;
    width: 1.9rem;
    top: 4px;
    left: -3rem;
}

.thumbnail-foot {
    border: 2px solid transparent;
    border-radius: 50%;
}

.foot-thumbnail-active {
    border-color: var(--color-h2-heading);    
}

/* owl dots and owl navs */
.owl-dots {
    display: flex;
    justify-content: center;
}

.owl-carousel button.owl-dot {
    height: 2px;
    width: 20px;
    background: #D0D0D1;
    transition: background 0.3s ease;
}

.owl-carousel button.owl-dot.active {
    background: var(--color-red-anchor);
}

.owl-nav button:hover img {
    filter: brightness(0) saturate(100%) invert(64%) sepia(46%) saturate(5013%) hue-rotate(334deg) brightness(100%) contrast(102%);
}

.owl-nav {
    position: absolute;
    left: 58%;
    transform: translateX(-58%);
    bottom: -6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4.8rem;
}


.section-text-title,
.section-description {
    margin: 0;
}

.section-description {
   font: 1.5rem;
   line-height: 2.25rem;
}

.section-button-wrapper .custom-site-btn{
    justify-content: center;
}

.section-description,
.section-text-header {
    text-align: center;
}

@media screen and (min-width: 1440px) {
    .page-width {
        padding: 0 8rem;
    }

    .header {
        max-width: 128rem;
    }
}

@media screen and (max-width: 1199px) {
    .owl-nav {
        left: 56%;
        transform: translateX(56%);
    }
}